{% extends 'modalidad.html' %}
{% load crispy_forms_filters %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/modalidad.css' %}">


{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="col-md-5 offset-md-3" style="margin-top: 50px">
        <div class="card">
            <div class="card-header">
                <h1 class="offset-md-3" style="color: crimson">Crear Modalidad</h1>
            </div>
            <div class="card-body">
                {{form | crispy}}
            </div>
            <div class="card-footer">
                <input id="c_modality" type="submit" class="btn btn-success" style="margin-top: 20px; margin-left: 10px"
                       value="Create">
                <a id="ca_modality" type="submit" href="{% url 'modalidad' %}"
                   style="margin-top: 20px; margin-left: 10px" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    </div>
</form>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/modalidad.js' %}"></script>
{% endblock %}
