{% extends 'obra/obra.html' %}
{% load crispy_forms_filters %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/obra.css' %}">

{%block content%}

<div class="center">
    <form method="post" novalidate class="card">
        {%csrf_token %}
        <h2>Modificar Obra</h2>
        {% for field in form %}

        <p>
            {{ field.label_tag }}
            {{ field }}
        </p>
        {% if field.errors %}
        <small class="error">{{ field.errors|striptags }}</small>-->
        {% endif %}-->
        {% endfor %}

        <div class="form-buttons">
            <input type="submit" value="Save" class="btn btn-success"/>
            <a href="{% url 'obra' %}" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>

{%endblock%}